/* DEFAULT FOOTER */ 
footer {position: absolute; bottom: 0;}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* GLOBAL */ 
body {
  background: url('../images/bg-intro-desktop.png'), hsl(0, 100%, 74%); 
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1, p, button {
  color: white;
}

h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.1; 
  margin: 30px 0;
}

p {
  line-height: 1.7; 
  font-weight: 400;
}

.container {
  display: flex;
  max-width: 1100px;
  /*height: 600px;*/ 
  align-items: center;
}


/* LEFT SIDE TEXT */ 
.left-side > p {
  max-width: 500px;
}


/* FORM */ 
form, .form-header {
  border-radius: 10px;
  box-shadow: 0 7px 0 rgba(50, 50, 50, 0.25); 
}

form {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  background: white;
  gap: 20px;
  font-weight: 500;
}

.form-header {
  background: hsl(248, 32%, 49%);
  max-width: 530px;
  padding: 2px 0; 
  text-align: center;
  margin: 0 0 25px 0;
}

form p {
  color: hsl(246, 25%, 77%);
  font-size: 11px;
  text-align: center;
  margin: -5px 0 0 0;
}
.form-header-span {
  font-weight: 700;
}

.form-footer-span {
  font-weight: 700; 
  color: hsl(0, 100%, 74%);
}


/* INPUT TYPES AND BUTTON */ 
button, input[type="text"], input[type="email"], input[type="password"] {
  border-radius: 5px;
  padding: 15px 30px; 
}

form, input[type="text"], input[type="email"], input[type="password"] {
  color: hsl(249, 10%, 26%);
}

input[type="text"], input[type="email"], input[type="password"] {
  border: 1px solid hsl(246, 25%, 77%);
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

input:focus {
  border: 1px solid hsl(249, 10%, 26%);
  outline: none;
}

button {
  background: hsl(154, 59%, 51%);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  height: 55px;
  border: none;
  box-shadow: 0 3px 1px hsl(154, 59%, 46%);
}

button:hover {
  cursor: pointer;
}

/* MEDIA QUERIES */ 

/* need to change at height: 650px, width: 1200px; */ 

@media only screen and (min-width: 1200px) {
  .container {
    width: 1100px;
    gap: 70px;
  }
  .left-side {
    width: 500px;
  }
  .right-side {
    width: 530px;
  }
}

@media only screen and (max-width: 1199px) {

}

@media only screen and (max-width: 990px) {

}

@media only screen and (max-width: 770px) {

}

@media only screen and (max-width: 600px) {
  body, .container {
    flex-direction: column;
  }

  body {
    justify-content: flex-start;
  }

  .container {
    margin-top: 35px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
  }

  h1, p {
    text-align: center;
  }
   
  h1 {
    font-size: 26px;
    margin: 20px 0;
    line-height: 1.3;
  }

  p {
    font-size: 15px;
  }

  .left-side p {
    margin: 0 0 35px 0;
  }

  form {
    padding: 20px;
    gap: 15px;
  }

  .form-header {
    padding: 3px 50px;
  }

  button, input[type="text"], input[type="email"], input[type="password"] {
    padding: 15px 30px;
  }

  form p {
    width: 90%;
    margin: 0 auto;
    line-height: 2;
    margin-top: -5px;
  }
}

/* to do: 
maybe refactor code a bit - there are a few extremely minor changes between desktop and mobile site that it seems pointless to have them both. (maybe change from desktop side)

add media queries 
do the js 
readme page 

done: 
add box shadows 
refactor code
added media query for mobile. 
refactored abit more. 
*/